.sidebar__recentItems {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.sidebar__recentItem {
  display: flex;
  font-size: 15px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 7px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
}
.sidebar__hash {
  margin-right: 10px;
  margin-left: 10px;
}
